In [1]:
#This is the first comment
## THis is the first comment 

""" This is also a 
perfect example of 
multi-line comments"""

'''This too is a
multiple line comment'''

'This too is a\nmultiple line comment'

In [2]:
# Variable assignments

a=10
b=20
a=5; d=10 #MULTIPLE STATEMENT IN A SINGLE LINE
b,c = 3.2,"Hello"  # multiple variable in a single statement
x=y=z="world" #multiple variable with a single value

In [3]:
#Displaying the value stored in variables

print(c)
print()
print("value of a",a)
print("Value of a= \n",a)
print(b,c)
print(b,c,sep="@")
c

Hello

value of a 5
Value of a=
 5
3.2 Hello
3.2@Hello

'Hello'

In [4]:
name="Rakesh"

In [5]:
age = 1

In [6]:
print(name,age)

Rakesh 1

# Operations on Variable

In [7]:
# Operations on Variable

print(a+b) #a=5, b=3.2
print(a*b)
div=d/a
print(div*b)
e=5.8
print(e//2)#floored division
print(d%a)#modulus division returns the remainder
print(a-b)
print(a**2) #exponentiation

8.2
16.0
6.4
2.0
0
1.7999999999999998
25

In [8]:
print(round(e/2,3))

2.9

In [9]:
#Python does type inferencing automatically
a=5
b=3.2
print(type(b))#returns the datatype of the object
print(a+b)

a="5"
b="3.2"
print(a+b) #+ operator will act like a concatenation operator
print(type(b))

<class 'float'>
8.2
53.2
<class 'str'>

In [10]:
import math

In [11]:
print(math.sqrt(25))
print(math.floor(5.876))
print(math.pi)

5.0
5
3.141592653589793

In [12]:
dir(math)    #dir keyword helps to see the directory of a library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [13]:
r=8
area=math.pi*r*r
print("Area of circle with radius",r,"is =", round(area,4))

Area of circle with radius 8 is = 201.0619

In [14]:
# USER Input at runtime
name = input("Enter your Name: ")

Enter your Name: 1

In [15]:
print("Hello",name)

Hello 1

In [16]:
r=float(input("Enter the radius "))
area=math.pi*r*r
print("Area of circle with radius",r, "is = " ,round(area,4))

Enter the radius 1
Area of circle with radius 1.0 is =  3.1416

In [17]:
num1=float(input("Enter the num1 :"))
num2=float(input("Enter the num2 :"))
num=num1*num2
print(round(num,2))

Enter the num1 :1
Enter the num2 :1
1.0

# Conditional statements

In [18]:
a=5
if a<10 :
    print("Yes")
else:
    print("No")

Yes

In [19]:
#Conditional Execution Statement
#If-else

x=7
y=5

if x>y:
    print("X is greater than Y")
    print("End of block")

else:
    print("Y is greater than x")

print("Done")

X is greater than Y
End of block
Done

In [20]:
#Nested if-else
if x==y:
    print("X is equal to y")
else:
    if x<y:
        print("X is less than Y")
    else:
        print("X is greater than Y")
print("Done")

X is greater than Y
Done

In [21]:
#If-elif-elif-else ladder

salary= float(input("Enter your Salary"))


if salary < 0:
    print("Please Enter Valid number")
elif salary <= 30000:
    print("This is the first salary bracket")
    print("Employee belongs to low Income Group")
elif salary <= 60000:
    print("This is the Second salary bracket")
    print("Employee belongs to Medium Income Group")
elif salary <= 100000:
    print("This is the third salary bracket")
    print("Employee belongs to High Income Group")
else:
    print("This is the Fourth salary bracket")
    print("Employee belongs to very High Income Group")

print("Done")

Enter your Salary1
This is the first salary bracket
Employee belongs to low Income Group
Done

In [22]:
score = int(input("Enter your Score"))

if score < 0 or score > 100:
    print("Enter the valid score")
elif score > 90 and score < 100 :
    print("Certificate of Excellence")
elif score > 70 and score < 90:
    print("Certificate of Achievement")
elif score > 50 and score < 70:
    print("Certificate of completion")
else:
    print("Certification of participation")

Enter your Score1
Certification of participation

In [23]:
score = int(input("Enter your Score"))

if score > 0 and score <= 100:
    if score<50:
        print("Certification of participation")        
    elif score < 70:
        print("Certificate of Achievement")
    elif score < 90:
        print("Certificate of Excellence")
    else:
        print("Certificate of completion")
else:
    print("Enter the valid score")

Enter your Score1
Certification of participation

In [24]:
#multiple condition evaluation
x=9;y=6
if (x>y) | (y>7):
    #T or F ==> T
    print('x is a positive single-digit number')

x is a positive single-digit number

In [25]:
#multiple condition evaluation
x=5;y=8
if ((x>7) & (y>7)) | (x!=y):
    #(F and T) or T
    #F or T ==> T
    print('x is a positive single-digit number')

x is a positive single-digit number

In [26]:
a="5"
num=int(a) #convert the string value in tho numerical value
print(num)
print(type(num))


a=chr(98) #uses the ASCII values to fetch the Character
print(a)

b=str(10) #convert the numerical value to a string
print(b)
print(type(b))

5
<class 'int'>
b
10
<class 'str'>

In [27]:
n = int(input("Enter the number: "))


if n == 0 or n == 1:
    print("Enter valid number")
elif n%2 == 0:
    print("The given number is Even")
else:
    print("The given number is Odd")

Enter the number: 1
Enter valid number

In [28]:
# User define functions (UDF)
#  function definition - def func_name():
#  function calling

# Parameterless function -- no arguments
# Parameterized functions -- arguments

In [29]:
def greeting(n):
    print(f"Hi {n}")
    print("How are you?")

In [30]:
name = input("Enter your Name: ")

greeting(name)

Enter your Name: 1
Hi 1
How are you?

In [31]:
def calc(a,b):
    print("Multiplication ",a*b)
    print("Addition ",a+b)
    print("Subscration ",a-b)

In [32]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))


calc(num1,num2)

Enter number 1: 1
Enter number 2: 1
Multiplication  1
Addition  2
Subscration  0

In [33]:
for i in range(0,5):
    for j in range(0,i):
        print(j, end="*")
    print("")

0*
0*1*
0*1*2*
0*1*2*3*

In [34]:
def cube(a):
    print("Value is = ",a)
    print("The cube is = ", a*a*a)

In [35]:
cube(10)

Value is =  10
The cube is =  1000

In [36]:
num = float(input("Enter the number: "))

cube(num)

Enter the number: 1
Value is =  1.0
The cube is =  1.0

In [37]:
def cube(a):
    print("Value is = ",a)
#     print("The cube is = ", a*a*a)   ## SImply prints the output as a message.
    return a*a*a    ## will return the ouput of the function which can be stored into a variable.

In [38]:
cube_value = cube(num)

Value is =  1.0

In [39]:
cube_value*5

5.0

In [40]:
def hi():
    print("Hi User!")
    a = 10
    b = 20
    print(a*b)

In [41]:
hi()

Hi User!
200

In [42]:
a  # a was a local variable not a global vaiable hence will return the error

'b'

In [43]:
def even_odd_num(n):
    if n == 0 or n == 1:
        print("Enter valid number")
    elif n%2 == 0:
        print("The given number is Even")
    else:
        print("The given number is Odd")

In [44]:
number = int(input("Enter the number : "))

even_odd_num(number)

Enter the number : 1
Enter valid number

In [45]:
even_odd_num(20)

The given number is Even

Loops

while loop is suitable in conditional loop

for loop is suitable in iterative loop


While-
1.) initialization of the iterator variable
2.) condition evaluation
3.) increment/decrement


For loop is an iterative loop that traverses through every element of a given data structure and applies the same logic on each element

iterative - iterate the set of values in a loop

In [48]:
i = 10

while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [51]:
i=1

while(i<=10):
    if i%2 ==0:
        print(i, " is an even number")
    else:
        print(i," is an odd number")
    i=i+1

1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number

In [54]:
count=0
while(count<=5):
    count=count+1     ## pre-increment - means increament is done before the task/function.
    print(count**2)
#     count=count+1   ## post-increment - means increament is done after the task/function.
else:
    print("out of loop")   # else can also be used with the while loop as when the condition is evaluated as false the else part eill run

1
4
9
16
25
36
out of loop

In [58]:
list_name = ["Nikita","Sherish", "Jyoti", "Jagruti"]


for i in list_name:
    print(f"Hello {i}")
    
    
    
for i in range (1,11):
    print(i)

Hello Nikita
Hello Sherish
Hello Jyoti
Hello Jagruti
1
2
3
4
5
6
7
8
9
10

In [59]:
list_name = ["Nikita","Sherish", "Jyoti", "Jagruti"]

for i in list_name[::-1]:
    print(f"Hello {i}")

Hello Jagruti
Hello Jyoti
Hello Sherish
Hello Nikita

In [60]:
list_name[::-1]  ## [::-1] use to reverse any kind of structure or data.

['Jagruti', 'Jyoti', 'Sherish', 'Nikita']

In [65]:
for i in range(1,11):
    print(f"5 * {i} = {5*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [66]:
i=1

while(i<=10):
    print(f"5 * {i} = {5*i}")
    i+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50